<?php
$servername = "10.0.100.5";
$username = "{{ db_user_name }}";
$password = "{{ db_user_name }}";

// Create connection
$conn = new mysqli($servername, $username, $password);

// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}
echo "Connected to DB successfully from container ".
gethostname();
?>

